# Default ignored files
/shelf/
/workspace.xml
/misc.xml
/deploymentTargetDropDown.xml
/sonarlint/issuestore/
/kotlinc.xml
/sonarlint/securityhotspotstore/index.pb
/deploymentTargetSelector.xml
/git_toolbox_blame.xml
/runConfigurations.xml
/studiobot.xml
/sonarlint/securityhotspotstore
/migrations.xml
/appInsightsSettings.xml
/AndroidProjectSystem.xml
/copilot.data.migration.agent.xml
/copilot.data.migration.edit.xml
/inspectionProfiles/Project_Default.xml
/deviceManager.xml
/copilot.data.migration.ask2agent.xml
/markdown.xml
